footer {
    background-color: deeppink;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}
footer a {
    text-decoration: none;
    font-size: 17px;
}

footer p {
    font-size: 17px;

}

footer a:hover {
    color: deeppink !important;
}

footer i {
    font-size: 25px;

}
