header {
    background-color: rgb(45, 0, 39);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav {
        .container-fluid {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar-brand {
            color: rgb(255, 38, 143);
            font-size: 3rem;
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            @include mobile {
                font-size: 2rem;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: flex-end;
                width: 100%;

                img {
                    margin-right: 10px;
                }
            }
        }

        .navbar-toggler {
            border: none !important;
            margin-left: auto;

            @include mobile {
                order: 1;
                margin-top: 10px;
                display: block;
                width: 100%;
            }
        }

        .navbar-toggler:focus {
            box-shadow: none !important;
        }

        .navbar-nav {
            margin-left: 750px;
            font-size: 25px;

            @include masomenosgrand {
                margin-left: 500px;
            }

            @include mediano {
                margin-left: 250px;
            }

            @include mobile {
                font-size: 18px;
                margin-left: 0;
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .nav-link {
            color: rgb(255, 38, 143);

            @include mobile {
                font-size: 16px;
            }
        }

        .dropdown-menu {
            background-color: rgb(140, 0, 255);
            max-width: 300px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            right: 0;

            .dropdown-item {
                &:hover {
                    background-color: rgb(0, 0, 0);
                    color: rgb(242, 0, 255);
                }
            }
            @include mobile {
                position: static;
                width: 100%;
                right: auto;
            }
        }
    }

    @include mobile {
        flex-direction: column;
        align-items: center;

        .navbar-toggler {
            margin-top: 10px;
        }
    }
}